

<div class="container m-5 form-control shadow border-1 border-dark">
    <div class="row mx-auto mb-3">
        <div class="col-12 text-center">
            <h2>Informaciones Importantes</h2>
        </div>
        <hr class="border-dark border-3 opacity-75 mb-3">
        <div class="col-4 mt-3">
            <p class="text-body fs-4">Transacciones realizadas: 64</p>
        </div>
        <div class="col-8 mt-3">
            <p class="text-body fs-4">Transacciones realizadas (Desde la creacion del sistema): 164</p>
        </div>
        <div class="col-4 mt-3">
            <p class="text-body fs-4">Pagos realizados: 3</p>
        </div>
        <div class="col-8 mt-3">
            <p class="text-body fs-4">Pagos realizados (Desde la creacion del sistema): 13</p>
        </div>
        <div class="col-4 mt-3">
            <p class="text-body fs-4">Cuentas Activas : 311</p>
        </div>
        <div class="col-6 mt-3">
            <p class="text-body fs-4">Cuentas Inactivas: 112</p>
        </div>
        <div class="col-12 mt-3">
            <p class="text-body fs-4">Cantidad total de los productos asignados a los clientes: 113</p>
        </div>
    </div>
</div>